<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Viper Tools</title>
</head>
<body>
    <h1>Valkyrie Linux Builder</h1>
    <div id="app" class="container">
            <form method="POST">
            Name:<br/>
            <input type="text" placeholder="Ubuntu" name="osms">
            <br/>
            Version:<br/>
            <input type="text" placeholder="18.04.5" name="osms">
            <br/>
            Release:<br/>
            <input type="text" placeholder="bionic" name="osms">
            <br/>
            Description:<br/>
            <input type="text" placeholder="Valkyrie Linux 21v8" name="osms">
            <br/>
            Relese notes:<br/>
            <input type="text" placeholder="http://vsrx.work" name="osms">
            <br/>
            Extended description:<br/>
            <input type="text" placeholder="Ubuntu 18.04.5 based" name="osms">
            <br/>
            ISO:<br/>
            <input type="file" accept=".iso">
            <br/>
            <input type="submit" value="submit">
        </form>
        <br/>
        <button type="button">Console</button>
        <button type="button">Synaptic</button>
        <button type="button">Extract</button>
        <button type="button">Build</button>
    </div> 
</body>
</html>
